openapi: 3.0.3
info:
  title: Appcharge Assets Localization API
  version: 1.0.0
  description: Appcharge is a monetization platform for mobile games, providing a direct-to-consumer (D2C) web store, mobile Checkout SDK, and Payment Links so publishers can sell in-game offers outside the app stores. This API covers checkout sessions, refunds, coupons and promo codes, price localization, financial and analytics reporting, web store offers (bundles, daily bonuses, rolling/special offers, progress bars, reward calendars, triggered popups), offer components (products, badges, offer designs), game-portal content, media assets, translations, and player personalization/authentication callbacks. Authentication uses the x-publisher-token header; webhooks are signed with an HMAC-SHA256 signature.
  contact:
    name: Appcharge Developer Support
    url: https://docs.appcharge.com/
  x-apievangelist-source: https://docs.appcharge.com/api-reference (Mintlify embedded OpenAPI fragments)
  x-apievangelist-method: searched
  x-apievangelist-generated: '2026-07-17'
servers:
- url: https://api.appcharge.com
  description: Production
- url: https://api-sandbox.appcharge.com
  description: Sandbox
tags:
- name: Localization
paths:
  /v1/translations:
    get:
      tags:
      - Localization
      description: "Retrieves a list of all translatable fields and their translations. \n \n Use the `locale` parameter to return translations for a specific locale. If a field doesn't have a translation for the requested locale, the value defaults to English, `en`. \n \n  If no locale is specified, all translations are returned, including the default English values."
      operationId: get-translations
      parameters:
      - name: locale
        in: query
        required: false
        description: The locale code. Both ISO-639 language code and ISO-3166 country code formats are supported.
        schema:
          type: string
          example: en-US
      - name: x-publisher-token
        required: true
        in: header
        description: The publisher token.
        schema:
          type: string
      responses:
        '200':
          description: Translations retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Missing or invalid authentication.
        '403':
          description: Insufficient permissions.
    post:
      tags:
      - Localization
      description: "Sets translation content for translatable fields. \n \n Use this API to add new translations or update existing ones as needed. \n \n The request payload has a maximum size of 100 KB."
      operationId: set-translations
      parameters:
      - name: x-publisher-token
        required: true
        in: header
        description: The publisher token
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslationRequest'
      responses:
        '200':
          description: Translations retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Missing or invalid authentication.
        '403':
          description: Insufficient permissions.
components:
  schemas:
    TranslationRequest:
      type: object
      required:
      - isoCode
      - title
      - subTitle
      - bodyText
      - headerImage
      - thumbnailImage
      - labels
      properties:
        isoCode:
          type: string
          description: The locale code. Both [ISO-639-1](https://en.wikipedia.org/wiki/ISO_639-1) language code and [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code formats are supported.
          example: fr-FR
        title:
          type: string
          description: Translated title.
          example: Bienvenue dans notre jeu
        subTitle:
          type: string
          description: Translated subtitle.
          example: Tout ce que vous devez savoir
        bodyText:
          type: string
          description: Translated body text.
          example: Ceci est le contenu principal de l'article en français...
        headerImage:
          type: string
          description: Translated header image URL. Can be an external link or the URL of an image from the Assets Library.
          example: https://cdn.example.com/images/header-fr.jpg
        thumbnailImage:
          type: string
          description: Translated thumbnail image URL. Can be an external link or the URL of an image from the Assets Library.
          example: https://media.appcharge.com/media/25cb4861ec8924a6b69a0f59/book-shelf1920.jpg
        labels:
          type: array
          items:
            type: string
          description: Translated labels.
          example:
          - tutoriel
          - débutant
    TranslationResponse:
      type: object
      properties:
        isoCode:
          type: string
          description: The locale code. Both [ISO-639-1](https://en.wikipedia.org/wiki/ISO_639-1) language code and [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code formats are supported.
          example: fr-FR
        title:
          type: string
          description: Translated title.
          example: Bienvenue dans notre jeu
        subTitle:
          type: string
          description: Translated description.
          example: Tout ce que vous devez savoir
        bodyText:
          type: string
          description: Translated body text.
          example: Ceci est le contenu principal de l'article en français...
        headerImage:
          type: string
          description: Translated header image URL.
          example: https://cdn.example.com/images/header-fr.jpg
        thumbnailImage:
          type: string
          description: Translated thumbnail image URL.
          example: https://media.appcharge.com/media/25cb4861ec8924a6b69a0f59/book-shelf1920.jpg
        labels:
          type: array
          items:
            type: string
          description: Translated labels.
          example:
          - tutoriel
          - débutant
  securitySchemes:
    PublisherTokenAuth:
      type: apiKey
      in: header
      name: x-publisher-token
      description: Publisher token, as displayed in the Publisher Dashboard.
