openapi: 3.0.3
info:
  title: Appcharge API
  version: 1.0.0
  description: Appcharge is a monetization platform for mobile games, providing a direct-to-consumer (D2C)
    web store, mobile Checkout SDK, and Payment Links so publishers can sell in-game offers outside the
    app stores. This API covers checkout sessions, refunds, coupons and promo codes, price localization,
    financial and analytics reporting, web store offers (bundles, daily bonuses, rolling/special offers,
    progress bars, reward calendars, triggered popups), offer components (products, badges, offer designs),
    game-portal content, media assets, translations, and player personalization/authentication callbacks.
    Authentication uses the x-publisher-token header; webhooks are signed with an HMAC-SHA256 signature.
  contact:
    name: Appcharge Developer Support
    url: https://docs.appcharge.com/
  x-apievangelist-source: https://docs.appcharge.com/api-reference (Mintlify embedded OpenAPI fragments)
  x-apievangelist-method: searched
  x-apievangelist-generated: '2026-07-17'
servers:
- url: https://api.appcharge.com
  description: Production
- url: https://api-sandbox.appcharge.com
  description: Sandbox
tags:
- name: Assets
- name: Authentication
- name: Badges
- name: Coupons
- name: General
- name: Localization
- name: Offer Designs
- name: Offers
- name: Orders
- name: Personalization
- name: Popups
- name: Portal Content
- name: Products
- name: Promo Codes
- name: Rolling Offers
- name: Store Refresh Popups
- name: Triggered Popups
paths:
  /{YOUR_GRANT_AWARD_ENDPOINT}:
    post:
      tags:
      - Orders
      description: "<Note> This is a callback API. Appcharge calls this endpoint on your server when specific\
        \ events occur. </Note> \n\n Notifies your system to grant an award to a customer. \n \n Appcharge\
        \ calls this endpoint after a customer payment is finalized or when a free offer is collected.\
        \ \n\n When your server responds with a valid `publisherPurchaseId`, Appcharge redirects the customer\
        \ to the success page confirming their purchase. \n\n <Warning>Your server must return a valid\
        \ `publisherPurchaseId` value to confirm the award has been sucessfully granted. If the property\
        \ is missing or invalid, the award is marked as unsuccessful, and an alert is triggered. </Warning>"
      operationId: grant-award
      parameters:
      - name: x-publisher-token
        in: header
        schema:
          type: string
        description: Publisher token.
      - name: signature
        in: header
        schema:
          type: string
        description: '[Signature](/../../api-reference/appcharge-publisher-secure-communication).'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerOrderReportRequest'
      responses:
        '200':
          description: Successfully granted award to customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerOrderReportSuccess'
        '400':
          description: Award request failed because of a client error. The response body must include
            `publisherErrorMessage`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerOrderReportError'
              example:
                publisherErrorMessage: Unable to grant the award because the player ID is invalid.
              examples:
                '400':
                  summary: '400'
                  value:
                    publisherErrorMessage: Unable to grant the award because the player ID is invalid.
        '500':
          description: Award request failed because of a server error. The response body must include
            `publisherErrorMessage`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerOrderReportError'
              example:
                publisherErrorMessage: Unable to grant the award because the inventory service is unavailable.
              examples:
                '500':
                  summary: '500'
                  value:
                    publisherErrorMessage: Unable to grant the award because the inventory service is
                      unavailable.
  /checkout/v3/cancel:
    post:
      summary: Cancel Checkout Session
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
          example: Bearer ba5af26a21ec497cb1551821c630d9f9
        description: "Authorization header in the format: `Bearer ${checkoutSessionToken}`. \n\n The checkout\
          \ session token is retrieved from the [Create Checkout Session API](/../../api-reference/checkout/checkout-session/create-checkout-session)\
          \ and serves as the checkout session ID."
      responses:
        '200':
          description: Result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  isOrderCancelled:
                    type: boolean
                    description: Whether the checkout session is no longer available, and can't accept
                      further payments. **Note:** This property only reflects the cancellation of the
                      session, not the order. To track order status, listen for [Order Events](../../events/introduction#order-events),
                      or [view the list of orders](/../../guides/publisher-dashboard/view-orders) in the
                      Publisher Dashboard.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized - invalid or missing token.
        '500':
          description: Internal server error.
      operationId: cancelCheckoutSession
      tags:
      - General
  /checkout/v1/session:
    post:
      summary: Create Checkout Session
      description: Creates a checkout session.
      parameters:
      - in: header
        name: x-publisher-token
        required: true
        schema:
          type: string
        description: Your checkout token that will be presented at Appcharge's dashboard under Admin section
          -> Integration tab -> Publisher token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionRequest'
      responses:
        '201':
          description: Checkout session created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionResponse'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Detailed message describing the error.
                    example: 'Blocked player: this player has been blocked. See the blocked player list
                      in the dashboard for more info.'
      operationId: createCheckoutSession
      tags:
      - General
  /coupons/coupon/{couponName}/promo-codes:
    parameters:
    - in: path
      name: couponName
      required: true
      schema:
        type: string
        example: summer26
      description: Coupon name.
    post:
      tags:
      - Promo Codes
      description: Creates multiple promo codes for a specific coupon. <br/><br/> Maximum of 1,000 promo
        codes allowed per request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePromoCodesRequest'
      responses:
        '200':
          description: Promo codes created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCodesResponse'
        '400':
          description: Bad request. Invalid input or validation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalidCouponName:
                  summary: Invalid coupon name
                  value:
                    error: Invalid coupon name. Use only English letters and numbers.
                invalidPromoCodeName:
                  summary: Invalid promo code name
                  value:
                    error: Invalid promo code name. Use only English letters and numbers.
                promoCodesBelowMinimum:
                  summary: Promo codes count below minimum
                  value:
                    error: Promo codes count must be at least 1.
                promoCodesAboveMaximum:
                  summary: Promo codes count above maximum
                  value:
                    error: Promo codes count must not exceed 1000.
                duplicatePromoCodes:
                  summary: Duplicate promo codes in request
                  value:
                    error: 'Some promo codes in the request are duplicated: swx1, swx2.'
                maxRedemptionsBelowMinimum:
                  summary: maxRedemptions below minimum
                  value:
                    error: maxRedemptions must not be less than 1
                missingRequiredField:
                  summary: Required field missing
                  value:
                    error: 'Missing required field: promoCodes.'
        '404':
          description: Coupon not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                couponNotFound:
                  summary: Coupon not found
                  value:
                    error: Coupon not found.
        '409':
          description: Conflict. One or more promo codes already exist and are active on another coupon.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                promoCodeExists:
                  summary: Promo code already active on another coupon
                  value:
                    error: 'Some promo codes are already active on other coupon: swx1, swx2.'
        '500':
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                unexpectedError:
                  summary: Unexpected error
                  value:
                    error: Unexpected error. Please contact support.
      operationId: postCouponsCouponCouponnamePromoCodes
    get:
      tags:
      - Promo Codes
      description: Retrieves a paginated list of up to 1,000 promo codes for a specific coupon.
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: integer
          example: 1000
        description: Maximum number of promo codes to return.
      - in: query
        name: page
        required: false
        schema:
          type: integer
          example: 1
        description: Page number to retrieve.
      - in: query
        name: sortDirection
        required: false
        schema:
          type: string
          default: asc
          enum:
          - asc
          - desc
          example: desc
        description: Sort direction of results by `createdAt`.
      - in: query
        name: isActive
        required: false
        schema:
          type: boolean
          example: true
        description: Filter by active status.
      responses:
        '200':
          description: Promo codes retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPromoCodesResponse'
        '404':
          description: Coupon not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                couponNotFound:
                  summary: Coupon not found
                  value:
                    error: Coupon not found.
      operationId: getCouponsCouponCouponnamePromoCodes
  /coupons/coupon/{couponName}/promo-codes/set-activation:
    parameters:
    - in: path
      name: couponName
      required: true
      schema:
        type: string
        example: summer26
      description: Coupon name.
    patch:
      tags:
      - Promo Codes
      description: Activates or deactivates promo codes for a specific coupon. <br/><br/> Maximum of 1,000
        promo code names allowed per request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCodeActivationRequest'
      responses:
        '200':
          description: Promo codes updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCodeActivationResponse'
        '400':
          description: Bad request. Invalid input or validation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                promoCodeNamesBelowMinimum:
                  summary: Promo code names count below minimum
                  value:
                    error: Promo code names count must be at least 1.
                promoCodeNamesAboveMaximum:
                  summary: Promo code names count above maximum
                  value:
                    error: Promo code names count must not exceed 1000.
        '404':
          description: Coupon not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                couponNotFound:
                  summary: Coupon not found
                  value:
                    error: Coupon not found.
        '500':
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                unexpectedError:
                  summary: Unexpected error
                  value:
                    error: Unexpected error. Please contact support.
      operationId: patchCouponsCouponCouponnamePromoCodesSetActivation
  /coupons/coupon:
    post:
      tags:
      - Coupons
      description: Creates a coupon.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCouponRequest'
      responses:
        '200':
          description: Coupon created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponResponse'
        '400':
          description: Bad request. Invalid input or validation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalidCouponName:
                  summary: Invalid coupon name
                  value:
                    error: Invalid coupon name. Use only English letters and numbers.
                missingRequiredField:
                  summary: Required field missing
                  value:
                    error: 'Missing required field: discountPercentage.'
                startsAtInPast:
                  summary: startsAt is in the past
                  value:
                    error: startsAt must be in the future.
                expiredByBeforeStartsAt:
                  summary: expiredBy is before startsAt
                  value:
                    error: expiredBy must be after startsAt.
                discountPercentageOutOfRange:
                  summary: discountPercentage out of range
                  value:
                    error: discountPercentage must be between 1 and 99.
        '409':
          description: Conflict. A coupon with the same name already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                couponExists:
                  summary: Coupon name already in use.
                  value:
                    error: Coupon name 'summer26' is already in use.
        '500':
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                unexpectedError:
                  summary: Unexpected error
                  value:
                    error: Unexpected error. Please contact support.
      operationId: postCouponsCoupon
  /coupons/coupon/{couponName}:
    parameters:
    - in: path
      name: couponName
      required: true
      schema:
        type: string
        example: summer26
      description: Coupon name.
    get:
      tags:
      - Coupons
      description: Retrieves a specific coupon by name.
      responses:
        '200':
          description: Coupon retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponResponse'
        '400':
          description: Invalid coupon name.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                couponNotFound:
                  summary: Invalid coupon name.
                  value:
                    error: Invalid coupon name. Use only English letters and numbers.
        '404':
          description: Coupon not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                couponNotFound:
                  summary: Coupon not found.
                  value:
                    error: Coupon not found.
        '500':
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                unexpectedError:
                  summary: Unexpected error.
                  value:
                    error: Unexpected error. Please contact support.
      operationId: getCouponsCouponCouponname
    patch:
      tags:
      - Coupons
      description: Updates an existing coupon. Only the fields provided in the request body will be updated.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCouponRequest'
      responses:
        '200':
          description: Coupon updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponResponse'
        '400':
          description: Bad request. Invalid input or validation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                startsAtInPast:
                  summary: startsAt is in the past
                  value:
                    error: startsAt must be in the future.
                expiredByBeforeStartsAt:
                  summary: expiredBy is before startsAt
                  value:
                    error: expiredBy must be after startsAt.
                forbiddenFields:
                  summary: Attempting to update non-updatable fields
                  value:
                    error: property name should not exist ; property discountPercentage should not exist
        '404':
          description: Coupon not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                couponNotFound:
                  summary: Coupon not found
                  value:
                    error: Coupon not found.
        '500':
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                unexpectedError:
                  summary: Unexpected error
                  value:
                    error: Unexpected error. Please contact support.
      operationId: patchCouponsCouponCouponname
  /coupons/coupon/{couponName}/promo-code/{promoCodeName}:
    parameters:
    - in: path
      name: couponName
      required: true
      schema:
        type: string
        example: summer26
      description: Coupon name.
    - in: path
      name: promoCodeName
      required: true
      schema:
        type: string
        example: swx1
      description: Promo code name.
    get:
      tags:
      - Promo Codes
      description: Retrieves a specific promo code.
      responses:
        '200':
          description: Promo code retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCodeResponse'
        '400':
          description: Bad request. Invalid input or validation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalidCouponName:
                  summary: Invalid coupon name
                  value:
                    error: Invalid coupon name. Use only English letters and numbers.
                invalidPromoCodeName:
                  summary: Invalid promo code name
                  value:
                    error: Invalid promo code name. Use only English letters and numbers.
        '404':
          description: Promo code or coupon not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                couponNotFound:
                  summary: Coupon not found
                  value:
                    error: Coupon not found.
                promoCodeNotFound:
                  summary: Promo code not found
                  value:
                    error: Promo code not found.
        '500':
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                unexpectedError:
                  summary: Unexpected error
                  value:
                    error: Unexpected error. Please contact support.
      operationId: getCouponsCouponCouponnamePromoCodePromocodename
  /reporting/financial-data/transactions:
    get:
      summary: Get Transactions
      description: Retrieves transaction data for a given time period.
      operationId: getTransactions
      parameters:
      - in: query
        name: startDate
        required: true
        schema:
          type: string
          format: date-time
          example: '2025-05-26T00:00:00Z'
        description: Start date of the query in [UTC ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
          format.
      - in: query
        name: endDate
        required: true
        schema:
          type: string
          format: date-time
          example: '2025-07-24T23:59:59Z'
        description: End date of the query in [UTC ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
      - in: query
        name: limit
        required: false
        schema:
          type: integer
          default: 10
        description: "Maximum number of transactions to return per page. \n\n **Min:** 1 \n **Max:** 10,000"
      - in: query
        name: sortDirection
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Sort order of the results based on the `timestamp` field.
      - in: header
        name: x-publisher-token
        schema:
          type: string
        required: true
        description: Publisher token.
      responses:
        '200':
          description: Successfully retrieved transactions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of transactions matching the query.
                    example: '245'
                  nextCursor:
                    type: string
                    description: Cursor pointing to the next page of results.
                    example: eyJpZCI6IjY0YzkidQ==
                  nextPageQuery:
                    type: string
                    description: Fully-formed query string for fetching the next page of results.
                    example: ?startDate=2025-05-26T00:00:00Z&endDate=2025-07-24T23:59:59Z&limit=100&sortDirection=asc&cursor=eyJpZCI6IjY0YzkidQ==
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction'
                    description: List of transaction results returned by the query.
        '400':
          description: Bad request - invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                dateValidation:
                  summary: Date validation error.
                  value:
                    statusCode: 400
                    error: Bad Request
                    message:
                    - validationErrorNumber: 1
                      error: endDate must be after startDate.
                    requestUrl: /reporting/financial-data/transactions?startDate=2025-07-24T00:00:00Z&endDate=2025-05-26T23:59:59Z
                invalidSortDirection:
                  summary: Invalid sort direction.
                  value:
                    statusCode: 400
                    error: Bad Request
                    message:
                    - validationErrorNumber: 1
                      error: sortDirection must be either "asc" or "desc".
                    requestUrl: /reporting/financial-data/transactions?startDate=2025-05-26T00:00:00Z&endDate=2025-07-24T23:59:59Z&sortDirection=invalid
        '401':
          description: Unauthorized - authentication failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
              examples:
                missingToken:
                  summary: Missing publisher token.
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message:
                    - validationErrorNumber: 1
                      error: Publisher token is required.
                    requestUrl: /reporting/financial-data/transactions?startDate=2025-05-26T00:00:00Z&endDate=2025-07-24T23:59:59Z
                invalidToken:
                  summary: Invalid publisher token.
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message:
                    - validationErrorNumber: 1
                      error: Publisher not found.
                    requestUrl: /reporting/financial-data/transactions?startDate=2025-05-26T00:00:00Z&endDate=2025-07-24T23:59:59Z
                tokenLookupFailed:
                  summary: Token lookup failed.
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message:
                    - validationErrorNumber: 1
                      error: Failed to authorize publisher token.
                    requestUrl: /reporting/financial-data/transactions?startDate=2025-05-26T00:00:00Z&endDate=2025-07-24T23:59:59Z
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
              examples:
                serverError:
                  summary: Server error
                  value:
                    statusCode: 500
                    error: Internal Server Error
                    message:
                    - validationErrorNumber: 1
                      error: Failed to get transactions
                    requestUrl: /reporting/financial-data/transactions?startDate=2025-05-26T00:00:00Z&endDate=2025-07-24T23:59:59Z
      tags:
      - General
  /v1/price-points:
    post:
      summary: Create a Price Point
      description: 'Creates a price point.


        When you pass the base price in USD, the API returns localized prices for this price point in
        all currencies supported by Appcharge. Learn more about [how localized prices are calculated](./introduction#how-localized-prices-are-calculated).


        To override automatically calculated prices for specific countries, pass the `priceOverrides`
        property with the relevant country codes and your custom prices.'
      operationId: createPricePoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                priceInUsdCents:
                  type: number
                  description: Base price in USD cents.
                  example: 999
                priceOverrides:
                  type: array
                  items:
                    $ref: '#/components/schemas/PriceOverride'
                  description: "List of country-specific prices that replace the auto-calculated price.\n\
                    \nExchange rates and rounding rules aren't applied. If a country's tax model includes\
                    \ taxes in the price, make sure the custom price include tax. If a country's tax model\
                    \ excludes tax from the price, Appcharge adds the applicable tax during checkout.\n\
                    \n Overrides apply only to the countries you specify."
            example:
              priceInUsdCents: 999
              priceOverrides:
              - countryCode2: BR
                price: 29.99
      responses:
        '201':
          description: Price point created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricePoint'
        '400':
          description: Bad request. This can occur due to a schema validation error or an invalid country
            code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponse'
              examples:
                schemaError:
                  summary: Schema validation error
                  value:
                    message: Invalid request body
                badCountryCode:
                  summary: Invalid country code
                  value:
                    message: Country code ZZ not found in existing custom pricing.
        '409':
          description: Conflict. The price point already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictErrorResponse'
              example:
                message: Cannot create new pricing. The price point already exists.
      tags:
      - General
    get:
      summary: Get all Price Points
      description: Retrieves a list of all price points in USD cents.
      operationId: getAllPricePoints
      responses:
        '200':
          description: Price points retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pricePoints:
                    type: array
                    items:
                      $ref: '#/components/schemas/PricePointSummary'
      tags:
      - General
  /v1/price-points/{priceInUsdCents}:
    delete:
      summary: Delete a Price Point
      description: Deletes a specific price point.
      operationId: deletePricePoint
      parameters:
      - name: priceInUsdCents
        in: path
        required: true
        schema:
          type: number
          example: 999
        description: Base price in USD cents.
      responses:
        '200':
          description: Price point deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricePoint'
        '404':
          description: Price point not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Price point 999 not found.
      tags:
      - General
    get:
      summary: Get a Price Point
      description: Retrieves a specific price point by its base price in USD cents. The API returns localized
        prices for this price point.
      operationId: getPricePoint
      parameters:
      - name: priceInUsdCents
        in: path
        required: true
        schema:
          type: number
          example: 999
        description: Base price in USD cents.
      responses:
        '200':
          description: Price point retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricePointDetailed'
        '404':
          description: Price point not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Price point 999 not found.
      tags:
      - General
    put:
      summary: Update a Price Point
      description: 'Updates a price point.


        When a price point is updated, Appcharge recalculates all localized prices. If both `priceInUsdCents`
        and `priceOverrides` are provided in the same request, Appcharge first recalculates localized
        prices from the updated base price and then applies the override values.'
      operationId: updatePricePoint
      parameters:
      - name: priceInUsdCents
        in: path
        required: true
        schema:
          type: number
          example: 999
        description: Base price in USD cents.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                updatedPriceInUsdCents:
                  type: number
                  description: New base price in USD cents.
                  example: 999
                priceOverrides:
                  type: array
                  items:
                    $ref: '#/components/schemas/PriceOverride'
                  description: "List of country-specific prices that replace the auto-calculated price.\
                    \ \n\nExchange rates and rounding rules aren't applied. If a country's tax model includes\
                    \ taxes in the price, make sure the custom price include tax. If a country's tax model\
                    \ excludes tax from the price, Appcharge adds the applicable tax during checkout.\n\
                    \n Overrides apply only to the countries you specify."
              additionalProperties: false
      responses:
        '200':
          description: Price point updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricePoint'
        '400':
          description: Bad request. This can occur due to a schema validation error or an invalid country
            code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponse'
              examples:
                schemaError:
                  summary: Schema validation error
                  value:
                    message: Invalid request body
                badCountryCode:
                  summary: Invalid country code
                  value:
                    message: Country code ZZ not found in existing custom pricing.
        '404':
          description: Price point not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Price point 999 not found.
        '409':
          description: Conflict. The price point already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictErrorResponse'
              example:
                message: Cannot create new pricing. The price point already exists.
      tags:
      - General
  /v1/price-points/localized/lookup:
    post:
      summary: Get Price Points for a Country
      description: 'Retrieves price points localized for a specific country.


        Pass price points in USD cents and a country code. The API returns each requested price point
        with its localized price in the currency for that country.'
      operationId: lookupLocalizedPricePoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalizedPricePointLookupRequest'
            examples:
              byCountry:
                summary: Get by country
                value:
                  pricesInUsdCents:
                  - 699
                  - 4550
                  - 9999
                  countryCode2: DE
      responses:
        '200':
          description: Localized price points retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalizedPricePointLookupResponse'
              examples:
                localizedPrices:
                  summary: All requested price points configured
                  value:
                    currencyCode: EUR
                    pricePoints:
                      '699':
                        price: 664
                        displayPrice: 6,64 €
                      '4550':
                        price: 4323
                        displayPrice: 43,23 €
                      '9999':
                        price: 9499
                        displayPrice: 94,99 €
                missingPricePoint:
                  summary: One requested price point is not configured
                  value:
                    currencyCode: EUR
                    pricePoints:
                      '699':
                        price: 664
                        displayPrice: 6,64 €
                      '12000': null
        '400':
          description: Bad request. All errors return a `message` property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponse'
              examples:
                tooManyPricePoints:
                  summary: Too many price points
                  value:
                    message: Too many price points used, maximum is 50.
                invalidPricePoint:
                  summary: Invalid price point
                  value:
                    message: 'Invalid priceInUsdCents value: must be a positive integer [invalid1, invalid2].'
                invalidCountryCode:
                  summary: Invalid country code
                  value:
                    message: 'Invalid countryCode2: must be ISO 3166-1 alpha-2.'
                unsupportedCountry:
                  summary: Unsupported country
                  value:
                    message: countryCode2 XX is not supported.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Unauthorized
        '429':
          description: Too many requests. The rate limit is 5,000 requests per minute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: Rate limit exceeded.
      tags:
      - General
  /checkout/api/v1/order/{orderId}/refund:
    post:
      summary: Initiate Refund
      description: Initiates a full refund for a specified order. <br /> <br /> Once the API call is successful,
        the refund process begins. The result of the refund, whether it succeeds or fails, is communicated
        asynchronously when the order status updates to `Refunded` or `Refund Failed`. You can track the
        order status in the **Orders** tab of the Publisher Dashboard. <br /> <br /> If the refund is
        completed successfully, the total order amount is reimbursed, and the [Order Refunded](../../events/v2/order/order_refunded)
        event is triggered. <br /> <br /> **Note:** This action is final and can't be undone.
      operationId: createRefund
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
        description: Order ID to refund.
      - name: x-publisher-token
        in: header
        required: true
        schema:
          type: string
        description: The publisher token used for authentication.
      - name: x-user-id
        in: header
        required: true
        schema:
          type: string
        description: The user ID initiating the refund for the order.
      responses:
        '201':
          description: Refund initiated successfully.
          content:
            application/json:
              schema:
                type: object
                description: Returns an empty object.
              examples:
                success:
                  summary: Empty success response
                  value: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Refund result.
                  errCode:
                    type: string
                    description: Error code.
                  message:
                    type: string
                    description: Error message.
              examples:
                forbidden:
                  value:
                    result: null
                    errCode: -1
                    message: Forbidden resource
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message.
              examples:
                forbidden:
                  value:
                    message: Order does not exist or cannot be found.
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message.
              examples:
                refundFailure:
                  summary: Refund failure response
                  value:
                    message: Failed to initiate a refund request
      tags:
      - General
  /v1/portal-content:
    post:
      tags:
      - Portal Content
      summary: Create Content
      description: Creates a new content item.
      operationId: create-content
      parameters:
      - name: x-publisher-token
        required: true
        in: header
        description: Publisher token.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContentRequest'
      responses:
        '200':
          description: Content created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentItem'
        '400':
          description: Invalid request body or validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: BAD_REQUEST
                requestUrl: /v1/portal-content
                body: Invalid request body or validation error.
        '401':
          description: Invalid or missing publisher token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: UNAUTHORIZED
                requestUrl: /v1/portal-content
                body: Invalid or missing publisher token.
        '409':
          description: Slug already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: CONFLICT
                requestUrl: /v1/portal-content
                body: Slug already exists.
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: INTERNAL_SERVER_ERROR
                requestUrl: /v1/portal-content
                body: Server error.
    get:
      tags:
      - Portal Content
      summary: Get Content
      description: Retrieves a list of all content items.
      operationId: get-content
      parameters:
      - name: x-publisher-token
        required: true
        in: header
        description: Publisher token.
        schema:
          type: string
      responses:
        '200':
          description: Content retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContentResponse'
        '401':
          description: Invalid or missing publisher token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: UNAUTHORIZED
                requestUrl: /v1/portal-content
                body: Invalid or missing publisher token.
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: INTERNAL_SERVER_ERROR
                requestUrl: /v1/portal-content
                body: Server error.
  /v1/portal-content/{contentId}:
    delete:
      tags:
      - Portal Content
      summary: Delete Content
      description: Deletes a content item.
      operationId: delete-content
      parameters:
      - name: contentId
        in: path
        required: true
        description: Content ID.
        schema:
          type: string
          example: 507f1f77bcf86cd799439011
      - name: x-publisher-token
        required: true
        in: header
        description: Publisher token.
        schema:
          type: string
      responses:
        '200':
          description: Content deleted successfully.
        '400':
          description: Invalid content ID or deletion error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: BAD_REQUEST
                requestUrl: /v1/portal-content/{contentId}
                body: Invalid content ID or deletion error.
        '401':
          description: Invalid or missing publisher token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: UNAUTHORIZED
                requestUrl: /v1/portal-content/{contentId}
                body: Invalid or missing publisher token.
        '404':
          description: Content not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: NOT_FOUND
                requestUrl: /v1/portal-content/{contentId}
                body: Content not found.
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: INTERNAL_SERVER_ERROR
                requestUrl: /v1/portal-content/{contentId}
                body: Server error.
    get:
      tags:
      - Portal Content
      summary: Get Content By ID
      description: Retrieves a specific content item by its ID.
      operationId: get-content-by-id
      parameters:
      - name: contentId
        in: path
        required: true
        description: Content ID.
        schema:
          type: string
          example: 507f1f77bcf86cd799439011
      - name: x-publisher-token
        required: true
        in: header
        description: Publisher token.
        schema:
          type: string
      responses:
        '200':
          description: Content retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentItem'
        '401':
          description: Invalid or missing publisher token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: UNAUTHORIZED
                requestUrl: /v1/portal-content/{contentId}
                body: Invalid or missing publisher token.
        '404':
          description: Content not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: NOT_FOUND
                requestUrl: /v1/portal-content/{contentId}
                body: Content not found.
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: INTERNAL_SERVER_ERROR
                requestUrl: /v1/portal-content/{contentId}
                body: Server error.
    put:
      tags:
      - Portal Content
      summary: Update Content
      description: Updates a content item.
      operationId: update-content
      parameters:
      - name: contentId
        in: path
        required: true
        description: Content ID.
        schema:
          type: string
          example: 507f1f77bcf86cd799439011
      - name: x-publisher-token
        required: true
        in: header
        description: Publisher token.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContentRequest'
      responses:
        '200':
          description: Content updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentItem'
        '400':
          description: Invalid request body or validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: BAD_REQUEST
                requestUrl: /v1/portal-content/{contentId}
                body: Invalid request body or validation error.
        '401':
          description: Invalid or missing publisher token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: UNAUTHORIZED
                requestUrl: /v1/portal-content/{contentId}
                body: Invalid or missing publisher token.
        '404':
          description: Content not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: NOT_FOUND
                requestUrl: /v1/portal-content/{contentId}
                body: Content not found.
        '409':
          description: Slug already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: CONFLICT
                requestUrl: /v1/portal-content/{contentId}
                body: Slug already exists.
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: INTERNAL_SERVER_ERROR
                requestUrl: /v1/portal-content/{contentId}
                body: Server error.
  /v1/portal-content/{contentId}/translations:
    get:
      tags:
      - Portal Content
      summary: Get Content Translations
      description: Retrieves all existing translations for a content item.
      operationId: get-content-translations
      parameters:
      - name: contentId
        required: true
        in: path
        description: Content ID.
        schema:
          type: string
      - name: x-publisher-token
        required: true
        in: header
        description: Publisher token.
        schema:
          type: string
      responses:
        '200':
          description: Translations retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContentTranslationsResponse'
        '401':
          description: Invalid or missing publisher token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: UNAUTHORIZED
                requestUrl: /v1/portal-content/{contentId}/translations
                body: Invalid or missing publisher token.
        '404':
          description: Content not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: NOT_FOUND
                requestUrl: /v1/portal-content/{contentId}/translations
                body: Content not found.
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: INTERNAL_SERVER_ERROR
                requestUrl: /v1/portal-content/{contentId}/translations
                body: Server error.
  /v1/portal-content/{contentId}/translations/{isoCode}:
    put:
      tags:
      - Portal Content
      summary: Upsert Content Translation
      description: Creates or updates a translation for a content item in a specific locale. <br/><br/>This
        operation doesn't modify translations in other locales or other content fields.<br /> <Note>You
        must first [add the locale in the Publisher Dashboard](/../../guides/translations/add-and-manage-languages)
        before adding its translation.</Note>
      operationId: upsert-content-translation
      parameters:
      - name: contentId
        required: true
        in: path
        description: Content ID.
        schema:
          type: string
      - name: isoCode
        required: true
        in: path
        description: The locale code. Both [ISO-639-1](https://en.wikipedia.org/wiki/ISO_639-1) language
          code and [ISO-3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code
          formats are supported.
        schema:
          type: string
      - name: x-publisher-token
        required: true
        in: header
        description: Publisher token.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertContentTranslationRequest'
      responses:
        '200':
          description: Translation upserted successfully. Returns the full updated content item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentItem'
        '400':
          description: Invalid request body or validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: BAD_REQUEST
                requestUrl: /v1/portal-content/{contentId}/translations/{isoCode}
                body: Invalid request body or validation error.
        '401':
          description: Invalid or missing publisher token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: UNAUTHORIZED
                requestUrl: /v1/portal-content/{contentId}/translations/{isoCode}
                body: Invalid or missing publisher token.
        '404':
          description: Content not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: NOT_FOUND
                requestUrl: /v1/portal-content/{contentId}/translations/{isoCode}
                body: Content not found.
        '409':
          description: Slug conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: CONFLICT
                requestUrl: /v1/portal-content/{contentId}/translations/{isoCode}
                body: Slug already exists.
        '413':
          description: Request payload is too large.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: PAYLOAD_TOO_LARGE
                requestUrl: /v1/portal-content/{contentId}/translations/{isoCode}
                body: Request payload is too large.
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: INTERNAL_SERVER_ERROR
                requestUrl: /v1/portal-content/{contentId}/translations/{isoCode}
                body: Server error.
  /components/v1/asset:
    post:
      tags:
      - Assets
      description: Creates an asset in the Assets Library.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              oneOf:
              - $ref: '#/components/schemas/AssetUploadViaFile'
              - $ref: '#/components/schemas/AssetUploadViaUrl'
          application/json:
            schema:
              $ref: '#/components/schemas/AssetUploadViaUrl'
      responses:
        '200':
          description: Asset uploaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '400':
          description: Bad request. Invalid input or validation failure.
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: 'curl --location ''https://api-sandbox.appcharge.com/components/v1/asset'' \

          --header ''x-publisher-token: TOKEN'' \

          --form ''type="product"'' \

          --form ''name="filename"'' \

          --form ''file=@"PATH/TO/FILE"'''
      operationId: postComponentsV1Asset
    get:
      tags:
      - Assets
      description: Retrieves a list of all assets in the Assets Library.
      responses:
        '200':
          description: Assets retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllAssetsResponse'
      operationId: getComponentsV1Asset
  /components/v1/asset/{name}:
    parameters:
    - in: path
      name: name
      required: true
      schema:
        type: string
        example: gold_coins_icon
      description: Asset name.
    delete:
      tags:
      - Assets
      description: Deletes an asset in the Assets Library.
      responses:
        '200':
          description: Asset deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '404':
          description: Asset not found.
      operationId: deleteComponentsV1AssetName
    get:
      tags:
      - Assets
      description: Retrieves a specific asset in the Assets Library.
      responses:
        '200':
          description: Asset details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '404':
          description: Asset not found.
      operationId: getComponentsV1AssetName
    put:
      tags:
      - Assets
      description: Updates an asset in the Assets Library.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AssetUpdate'
          application/json:
            schema:
              $ref: '#/components/schemas/AssetUpdate'
      responses:
        '200':
          description: Asset updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '400':
          description: Bad request. Invalid input or validation failure.
        '404':
          description: Asset not found.
      operationId: putComponentsV1AssetName
  /v1/translations:
    get:
      tags:
      - Localization
      description: "Retrieves a list of all translatable fields and their translations. \n \n Use the\
        \ `locale` parameter to return translations for a specific locale. If a field doesn't have a translation\
        \ for the requested locale, the value defaults to English, `en`. \n \n  If no locale is specified,\
        \ all translations are returned, including the default English values."
      operationId: get-translations
      parameters:
      - name: locale
        in: query
        required: false
        description: The locale code. Both ISO-639 language code and ISO-3166 country code formats are
          supported.
        schema:
          type: string
          example: en-US
      - name: x-publisher-token
        required: true
        in: header
        description: The publisher token.
        schema:
          type: string
      responses:
        '200':
          description: Translations retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Missing or invalid authentication.
        '403':
          description: Insufficient permissions.
    post:
      tags:
      - Localization
      description: "Sets translation content for translatable fields. \n \n Use this API to add new translations\
        \ or update existing ones as needed. \n \n The request payload has a maximum size of 100 KB."
      operationId: set-translations
      parameters:
      - name: x-publisher-token
        required: true
        in: header
        description: The publisher token
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslationRequest'
      responses:
        '200':
          description: Translations retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Missing or invalid authentication.
        '403':
          description: Insufficient permissions.
  /components/v1/badge:
    post:
      tags:
      - Badges
      description: Creates a badge.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/EmblemBadgeCreate'
              - $ref: '#/components/schemas/RibbonBadgeCreate'
              discriminator:
                propertyName: type
                mapping:
                  emblem:
                    $ref: '#/components/schemas/EmblemBadgeCreate'
                  ribbon:
                    $ref: '#/components/schemas/RibbonBadgeCreate'
      responses:
        '200':
          description: Badge created successfully.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/EmblemBadgeResponse'
                - $ref: '#/components/schemas/RibbonBadgeResponse'
                discriminator:
                  propertyName: type
                  mapping:
                    emblem:
                      $ref: '#/components/schemas/EmblemBadgeResponse'
                    ribbon:
                      $ref: '#/components/schemas/RibbonBadgeResponse'
        '400':
          description: Bad request. Invalid input or validation failure.
      operationId: postComponentsV1Badge
    get:
      tags:
      - Badges
      description: Retrieves a list of all badges.
      responses:
        '200':
          description: Badges retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllBadgesResponse'
      operationId: getComponentsV1Badge
  /components/v1/badge/{externalId}:
    parameters:
    - in: path
      name: externalId
      required: true
      schema:
        type: string
        example: new_year_ribbon
      description: External ID that you defined.
    delete:
      tags:
      - Badges
      description: Deletes a badge.
      responses:
        '200':
          description: Badge deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadgeReadResponse'
        '404':
          description: Badge not found.
      operationId: deleteComponentsV1BadgeExternalid
    get:
      tags:
      - Badges
      description: Retrieves a specific badge.
      responses:
        '200':
          description: Badge details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadgeReadResponse'
        '404':
          description: Badge not found.
      operationId: getComponentsV1BadgeExternalid
    put:
      tags:
      - Badges
      description: Updates a badge.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/EmblemBadgeUpdate'
              - $ref: '#/components/schemas/RibbonBadgeUpdate'
              discriminator:
                propertyName: type
                mapping:
                  emblem:
                    $ref: '#/components/schemas/EmblemBadgeUpdate'
                  ribbon:
                    $ref: '#/components/schemas/RibbonBadgeUpdate'
      responses:
        '200':
          description: Badge updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadgeReadResponse'
        '400':
          description: Bad request. Invalid input or validation failure.
        '404':
          description: Badge not found.
      operationId: putComponentsV1BadgeExternalid
  /components/v1/offer-design:
    post:
      tags:
      - Offer Designs
      description: Creates a post purchase popup design.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPurchasePopupDesignCreate'
      responses:
        '200':
          description: Offer design created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPurchasePopupDesignResponse'
        '400':
          description: Bad request. Invalid input or validation failure.
      operationId: postComponentsV1OfferDesign
    get:
      tags:
      - Offer Designs
      summary: Get Offer Designs
      description: Retrieves a list of all offer designs.
      operationId: get-offer-designs
      parameters:
      - name: x-publisher-token
        in: header
        required: true
        description: Publisher token, as displayed in the Publisher Dashboard.
        schema:
          type: string
      responses:
        '200':
          description: Offer designs retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllOfferDesignsResponse'
  /components/v1/offer-design/{externalId}:
    parameters:
    - in: path
      name: externalId
      required: true
      schema:
        type: string
      description: Design ID that you defined.
    delete:
      tags:
      - Offer Designs
      description: Deletes a post purchase popup design.
      responses:
        '200':
          description: Post purchase popup design deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPurchasePopupDesignResponse'
        '404':
          description: Offer design not found.
      operationId: deleteComponentsV1OfferDesignExternalid
    put:
      tags:
      - Offer Designs
      description: Updates a post purchase popup design.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPurchasePopupDesignUpdate'
      responses:
        '200':
          description: Offer design updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPurchasePopupDesignResponse'
        '400':
          description: Bad request. Invalid input or validation failure.
        '404':
          description: Offer design not found.
      operationId: putComponentsV1OfferDesignExternalid
  /components/v1/product:
    post:
      tags:
      - Products
      description: Creates a product.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreate'
      responses:
        '200':
          description: Product created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        '400':
          description: Bad request. Invalid input or validation failure.
      operationId: postComponentsV1Product
    get:
      tags:
      - Products
      description: Retrieves a list of all products.
      responses:
        '200':
          description: Products retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllProductResponse'
      operationId: getComponentsV1Product
  /components/v1/product/{externalId}:
    parameters:
    - in: path
      name: externalId
      required: true
      schema:
        type: string
        example: gold_coins_pack
      description: External ID that you defined.
    delete:
      tags:
      - Products
      description: Deletes a product.
      responses:
        '200':
          description: Product deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        '404':
          description: Product not found.
      operationId: deleteComponentsV1ProductExternalid
    get:
      tags:
      - Products
      description: Retrieves the details of a specific product.
      responses:
        '200':
          description: Product details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        '404':
          description: Product not found.
      operationId: getComponentsV1ProductExternalid
    put:
      tags:
      - Products
      description: Updates a product.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdate'
      responses:
        '200':
          description: Product updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        '400':
          description: Bad request. Invalid input or validation failure.
        '404':
          description: Product not found.
      operationId: putComponentsV1ProductExternalid
  /offering/offer:
    post:
      tags:
      - Offers
      operationId: create-offer
      parameters:
      - name: x-publisher-token
        required: true
        in: header
        description: The publisher token
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOfferDto'
            example:
              publisherOfferId: offer1
              name: Test_Bundle
              type: Bundle
              active: true
              segments:
              - NewUser
              productsSequence:
              - index: 1
                priceInUsdCents: 300
                products: []
              priceDiscount:
                priceBeforeDiscount: 1000
                discount: 10
                type: percentage
      responses:
        '201':
          description: Create a new Offer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDtoResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  requestUrl:
                    type: string
                  body:
                    type: string
        '401':
          description: Not Authorized
  /offering/offer/{publisherOfferId}:
    delete:
      tags:
      - Offers
      operationId: delete-offer
      parameters:
      - name: publisherOfferId
        required: true
        in: path
        schema:
          type: string
      - name: x-publisher-token
        required: true
        in: header
        description: The publisher token
        schema:
          type: string
      responses:
        '200':
          description: Delete Offer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDtoResponse'
        '401':
          description: Not Authorized
  /offering/offer/get-offers:
    post:
      tags:
      - Offers
      operationId: get-all-offers
      parameters:
      - name: offerType
        required: false
        in: query
        description: Bundle, SpecialOffer, Popup
        example: SpecialOffer
        schema:
          type: string
      - name: recordLimit
        required: false
        in: query
        description: Record limit (0-500). Defaults to 100 if not defined.
        example: 100
        schema:
          minimum: 0
          maximum: 500
          type: number
      - name: offset
        required: false
        in: query
        description: Offset (non-negative value).
        example: 10
        schema:
          minimum: 0
          type: number
      - name: publisherOfferId
        required: false
        in: query
        description: To retrieve specific offers. If adding multiple, use ',' to separate.
        schema:
          type: string
      - name: x-publisher-token
        required: true
        in: header
        description: The publisher token
        schema:
          type: string
      responses:
        '200':
          description: Get all offers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOffersResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  requestUrl:
                    type: string
                  body:
                    type: string
        '401':
          description: Not Authorized
  /offering/offer/popup:
    post:
      tags:
      - Popups
      operationId: create-post-purchase-popup
      parameters:
      - name: x-publisher-token
        required: true
        in: header
        description: The publisher token
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePopupDto'
      responses:
        '201':
          description: Create a new Offer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PopupDtoResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  requestUrl:
                    type: string
                  body:
                    type: string
        '401':
          description: Not Authorized
  /offering/offer/popup/{offerSKU}:
    put:
      tags:
      - Offers
      operationId: update-popup-by-Id
      parameters:
      - name: offerSKU
        required: true
        in: path
        schema:
          type: string
          description: The publisher Id of the offer.
      - name: x-publisher-token
        required: true
        in: header
        description: The publisher token
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOfferDto'
      responses:
        '200':
          description: Update Offer by Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDtoResponse'
        '401':
          description: Not Authorized
  /offering/rolling-offer:
    post:
      tags:
      - Rolling Offers
      summary: Create a new rolling offer
      operationId: createRollingOffer
      parameters:
      - name: x-publisher-token
        in: header
        required: true
        description: The publisher token used for authentication.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRollingOfferDto'
      responses:
        '201':
          description: Rolling offer created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RollingOfferDtoResponse'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
  /offering/rolling-offer/{rollingOfferSKU}:
    put:
      tags:
      - Rolling Offers
      summary: Update an existing rolling offer
      operationId: updateRollingOffer
      parameters:
      - name: publisherOfferId
        in: path
        required: true
        description: The SKU of the rolling offer.
        schema:
          type: string
      - name: x-publisher-token
        in: header
        required: true
        description: The publisher token used for authentication.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRollingOfferDto'
      responses:
        '200':
          description: Rolling offer updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RollingOfferDtoResponse'
        '401':
          description: Unauthorized.
  /offering/offer/{offerSKU}:
    put:
      tags:
      - Offers
      operationId: update-offer-by-Id
      parameters:
      - name: offerSKU
        required: true
        in: path
        schema:
          type: string
          description: The publisher Id of the offer.
      - name: x-publisher-token
        required: true
        in: header
        description: The publisher token
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOfferDto'
            example:
              publisherOfferId: offer1
              name: Updated_Bundle
              type: Bundle
              active: true
              segments:
              - BigSpender
              productsSequence:
              - index: 1
                priceInUsdCents: 500
                products: []
              priceDiscount:
                priceBeforeDiscount: 1500
                discount: 20
                type: fixed_amount
      responses:
        '200':
          description: Update Offer by Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDtoResponse'
        '401':
          description: Not Authorized
  /v2/offer:
    post:
      tags:
      - Store Refresh Popups
      summary: Create a new Store Refresh Popup
      description: Creates a Store Refresh popup offer. Triggered when a player refreshes the web store.
      operationId: createStoreRefreshPopup
      parameters:
      - name: x-publisher-token
        in: header
        required: true
        description: Publisher token used for authentication.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStoreRefreshPopupDto'
      responses:
        '201':
          description: Store refresh popup created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreRefreshPopupDtoResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
    get:
      tags:
      - Triggered Popups
      summary: Get Store Refresh Popup
      description: Retrieves one or more store refresh popups.
      operationId: getStoreRefreshPopup
      parameters:
      - name: publisherOfferIds
        in: query
        required: true
        description: The unique identifier for the offer. To retrieve multiple store refresh popups, separate
          them with a comma.
        schema:
          type: string
          example: store-refresh-offer-1,store-refresh-offer-2
      - name: x-publisher-token
        in: header
        required: true
        description: The publisher token used for authentication.
        schema:
          type: string
      responses:
        '200':
          description: Store Refresh Popup retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: number
                    description: Total number of matching offers.
                  offers:
                    type: array
                    items:
                      $ref: '#/components/schemas/StoreRefreshPopupDtoResponse'
        '401':
          description: Unauthorized.
  /v2/offer/{publisherOfferId}:
    delete:
      tags:
      - Triggered Popups
      summary: Delete Store Refresh Popup
      description: Deletes a store refresh popup.
      operationId: deleteStoreRefreshPopup
      parameters:
      - name: publisherOfferId
        description: The offer ID provided by the publisher. This is the offer's **External ID** value
          in the Publisher Dashboard.
        required: true
        in: path
        schema:
          type: string
          example: store-refresh-offer-1
      - name: x-publisher-token
        required: true
        in: header
        description: The publisher token
        schema:
          type: string
      responses:
        '200':
          description: Deleted offer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreRefreshPopupDtoResponse'
        '401':
          description: Not Authorized
    put:
      tags:
      - Store Refresh Popups
      summary: Update an existing Store Refresh Popup
      description: Updates a Store Refresh popup offer.
      operationId: updateStoreRefreshPopup
      parameters:
      - name: publisherOfferId
        in: path
        required: true
        description: Store Refresh Popup ID. This is the offer's **External ID** value in the Publisher
          Dashboard.
        schema:
          type: string
      - name: x-publisher-token
        in: header
        required: true
        description: Publisher token used for authentication.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStoreRefreshPopupDto'
      responses:
        '200':
          description: Store refresh popup updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreRefreshPopupDtoResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized.
  /{YOUR_PERSONALIZE_WEBSTORE_ENDPOINT}:
    post:
      tags:
      - Personalization
      summary: Sync player information
      description: "<Note> This is a callback API. Appcharge calls this endpoint on your server when specific\
        \ events occur. </Note> \n\n Notifies your system to personalize the web store for a player. <br\
        \ /> <br /> Appcharge calls this endpoint when: <ul><li>A player logs in to your web store.</li><li>A\
        \ player completes a purchase.</li><li>Every 5 minutes after the player’s last sync.</li></ul>\
        \ Your server responds with the most current player data and all available offers for the player.\
        \ Appcharge then updates the web store for the player accordingly."
      operationId: personalize-webstore
      parameters:
      - in: header
        name: x-publisher-token
        schema:
          type: string
        description: Publisher token.
      - name: signature
        in: header
        description: The signed payload.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                playerId:
                  type: string
                  description: Player ID (the same value as the `publisherPlayerId` property returned
                    in the [Authenticate Player Callback](/../../api-reference/webstore/player-authentication/authenticate-player-callback)).
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - sessionMetadata
                properties:
                  version:
                    type: integer
                    description: The used version. In this case, the value is ‘2’
                    example: 2
                  logo:
                    type: string
                    description: 'Logo ID provided when a file is uploaded to the Assets Library. Use
                      this to display a logo in your web store. '
                    example: MY_LOGO_ASSET_ID
                  status:
                    type: string
                    enum:
                    - valid
                    - invalid
                    description: Web store personalization request status.
                    example: valid
                  sessionMetadata:
                    type: object
                    description: Container for storing any pertinent information related to the player's
                      session. If enabled, this is sent back in the [Grant Award Callback](/../../api-reference/checkout/awards/grant-award-callback)
                      as well.
                  profileFrameId:
                    type: string
                    description: Corresponds to the profile frame picture ID uploaded to the asset library
                      in Appcharge's dashboard. Displayed above the player's profile picture.
                    example: profileFrame123
                  playerLevelName:
                    type: string
                    description: Aligns with the player level picture name/ID uploaded to the asset library
                      in Appcharge's dashboard. Displayed alongside the footer.
                    example: playerLevelName
                  bannerExternalId:
                    type: string
                    description: Aligns with the banner asset ID uploaded to the asset library in Appcharge’s
                      dashboard. Displayed at the top of the screen.
                    example: playerLevelAssetId
                  playerLevel:
                    type: object
                    description: Presents discounts related to the player’s level.
                    required:
                    - assetId
                    properties:
                      assetId:
                        type: string
                        description: The ID of the asset relevant to the player’s level, uploaded to the
                          asset library in Appcharge’s dashboard.
                        example: playerLevel1
                      text:
                        type: string
                        description: Text to be displayed on top of the asset.
                        example: 10%
                      endsIn:
                        type: number
                        description: Epoch timestamp in milliseconds indicating when the level discount
                          will end.
                        example: 1728283121000
                  playerLevelBanners:
                    type: array
                    description: List of banners to display to players based on their game level.
                    items:
                      type: object
                      required:
                      - assetId
                      - designId
                      properties:
                        assetId:
                          type: string
                          description: The banner ID in the Asset Library.
                        designId:
                          type: string
                          description: ID provided by Appcharge specifying the banner type and design.
                        text:
                          type: array
                          description: List of text objects for displaying the banner text.
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: The text ID that specifies the text’s placement in the banner.
                              content:
                                type: string
                                description: The text displayed in the banner.
                        endsIn:
                          type: number
                          description: Unix timestamp indicating when the banner expires. For example,
                            `1720051200` represents July 4, 2024.
                  offersOrder:
                    type: string
                    enum:
                    - publisherOrder
                    - priceHighToLow
                    - priceLowToHigh
                    default: priceLowToHigh
                    description: Defines the order of offers.
                  sectionsOrder:
                    type: array
                    items:
                      type: string
                    description: An array of publisher’s section ids that defines the order of sections
                      for the store.
                  segments:
                    type: array
                    items:
                      type: string
                    description: The list of segments associated with the player.
                  focus:
                    type: object
                    properties:
                      publisherBundleId:
                        type: string
                        description: The id of the bundle to focus on in the web store.
                        example: bundle123
                    description: Customize which offer you want to focus on.
                  attributes:
                    type: object
                    description: "A set of custom key-value pairs that you can define to tag players for\
                      \ segmentation and A/B testing. These attributes can then be used to filter players\
                      \ in the Publisher Dashboard.\n\nExample:\n{\n  \"BF_test\": \"test\",\n  \"monetization_persona\"\
                      : \"non_payer\"\n}"
                  storeTheme:
                    type: object
                    description: Information about the web store theme.
                    properties:
                      bgImageMobile:
                        type: string
                        description: Name of the background image for mobile devices in the Assets Library
                          of the Publisher Dashboard.
                        example: mobile_bg_2
                      bgImageDesktop:
                        type: string
                        description: Name of the background image for desktop devices in the Assets Library
                          of the Publisher Dashboard.
                        example: desktop_bg_2
                      logo:
                        type: string
                        description: Name of the logo image in the Assets Library of the Publisher Dashboard.
                        example: store_logo_2
                      profileFrameImage:
                        type: string
                        description: Name of the profile frame image in the Assets Library of the Publisher
                          Dashboard.
                        example: profile_frame_2
                      bannerImage:
                        type: string
                        description: Name of the banner image in the Assets Library of the Publisher Dashboard.
                        example: banner_2
                      playerLevelImage:
                        type: string
                        description: Name of the player level image in the Assets Library of the Publisher
                          Dashboard.
                        example: player_level_2
                  balances:
                    type: array
                    items:
                      type: object
                      required:
                      - publisherProductId
                      - quantity
                      properties:
                        publisherProductId:
                          type: string
                          description: The publisher's product id.
                          example: product123
                        quantity:
                          type: integer
                          description: The quantity of the product. Should be greater than or equal to
                            0 and less than or equal to 24 digits long.
                          example: 5
                    description: A list of product balances of the player.
                  offers:
                    type: array
                    items:
                      type: object
                      required:
                      - publisherOfferId
                      - productsSequence
                      properties:
                        publisherOfferId:
                          type: string
                          description: The publisher's offer id.
[...]
